@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font-family: minion-pro;
  font-size: 100%;
  text-align: justify;
}

.text-center {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font-family: minion-pro;
  font-size: 110%;
  text-align: center;
}

.row {
  margin-left:0px;
  margin-right:0px;
}

/* Wrapper for page content to push down footer */
#wrap {
  height: 90%;
  /* Negative indent footer by its height */
  margin: 0 auto 0;
  /* Pad bottom by footer height */
  padding: 0 0 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
}


#wrap > .container {
  padding: 0px 0px 0;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#F9AB82;
}

#footer a {
  color:#efefef;
}

.text-muted {
  color: #efefef;
}

@font-face
{
  font-family: 'Frutiger';
  src: url('../fonts/Frutiger LT 57 Condensed.ttf');
  src: url('../fonts/Frutiger LT 57 Condensed.ttf') format('embedded-opentype'), url('../fonts/Frutiger LT 57 Condensed.ttf') format('tff'), url('../fonts/Frutiger LT 57 Condensed.ttf') format('truetype');

}

h1,h2,h3,h4 {
  font-family: 'Frutiger';
  vertical-align:middle;
  margin-top: 64px;
}

header {
  height:100%;
  background: url('../img/banner2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

header h1,header h2,header h3 a,header a,header a:hover {
  color:#101010;
  text-decoration:none;
}
h1 {
  font-size:50px;
  text-align: center;
  color: white;
}

h2 {
  font-size:30px;
  text-align: center;
}

h3 {
  font-size:20px;
  text-align: center;
  margin-top: 30px;
}

#nav {
  height:7%;
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {
  
}

/* NAVBAR */
@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 0px 0px; 
}  

.navbar-custom {
  font-family: 'Frutiger';
  background-color: #A39E6B;
  font-weight:700;
  text-transform:lowercase;
  border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-custom .dropdown-menu{
  right:0;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}

.divider {
  height: 50px;
}

.panel {
  border-width:0;
}

/*
@media (max-width: 768px) {
  header {
    height: 95px;
  }
}
*/

#map-canvas {
  width: 100%; 
  height: 300px;
  margin: 0;
  padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #A39E6B;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
   height: 45px;
   border: 1px solid black;
}
.scroll-top a:link,.scroll-top a:visited {
  color: white;
} 

.nav > li > a {
  text-decoration: none;
  background-color: #A39E6B;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #FFF8AC;  
}

.scroll-top a:hover {
  color: #FFF8AC;
} 

section {
  color: #ffffff;
  min-height: 200px;
  height: auto !important;
  height: 100%;
  padding-top:5S0px;
}

.bg-1 {
  background: url('../img/banner4.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-2 {
  background: url('../img/banner1.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
    background: url('../img/banner5.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-4 {
    background: url('../img/banner3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* Social sprites */
.social {
  background: url('../img/social-sprite2.png'); 
  width:42px;
  height:42px;
  float:left;
  margin-right: 10px;:6px;
}

.social[id="facebook"] {
  background-position: 0px -42px;
}
.social[id="flickr"] {
  background-position: -42px -42px;
}
.social[id="dontknow"] {
  background-position: -84px -42px;
}
.social[id="googleplus"] {
  background-position: -126px -42px;
}
.social[id="linkedin"] {
  background-position: -168px -42px;
}
.social[id="pinterest"] {
  background-position: -210px -42px;
}
.social[id="dontknow2"] {
  background-position: -252px -42px;
}
.social[id="skype"] {
  background-position: -294px -42px;
}
.social[id="twitter"] {
  background-position: -336px -42px;
}

/* Contact */

input {
  width:500px;
  float:right;
  margin-right: 20px;
}

textarea {
  width:500px;
  float:right;
  margin-right: 20px;
}

input[type="submit"] {
  width:500px;
  float:right;
  margin-right: 20px;
  width: 500px;
  background: #A39E6B;
  font-size:100%;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  height: 45px;
}

p {
  font-size: 75%;
  display: inline-block;
}

p[id="contact"] {
  padding-left: 30px;
  font-family: minion-pro;
  font-size: 90%;
  display: block;
}

.jumbotron {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding-top: 0px;
}


/* About */

img[id="bio"] {
  height: auto;
  width: 200px;
  display: inline-block;
}

table {
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 80%;
}

td[id="bio-image"] {
  padding-left: 25px;
  padding-right: 25px; 
}

td[id="bio-text"] {
  padding-left: 25px;
  padding-right: 25px; 
}

/* Media */

iframe {
  display: block;
  margin: 0 auto;
  border: 0;
}

.player .video-wrapper .video {
  position: relative;
  display: block;
  margin: 0 auto;
  border: 0;
}

.jumbotron[id="media"] {
  width: 100%;
  height: 500px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background: black;
  padding: 0px;
}

/* Slider */

.slider {
  width: 800px; 
  height: 600px;
  overflow: hidden;
  position: relative; /* for overflow: hidden to work in IE7 */
}
.slider > ul {
  /* styled by JS to match the added width and height of all <li>’s */
  position: relative;
  -webkit-transition: .5s left;
  -moz-transition: .5s left;
  -ms-transition: .5s left;
  -o-transition: .5s left;

  list-style: none;
  margin: 0; padding: 0;
}
.slider > ul > li {
  float: left;
  width: 800px; 
  height: 100%;
  list-style-type: none;
}

li {
  list-style-type: none;
  height: 100%;
}

ul {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

a[href="javascript:sliders[0].goToPrev()"] {
  display: inline-block;
  color: transparent;
  width: 45px !important;
  height: 51px !important;
  background: url('../img/arrow-left.png') no-repeat black;
  opacity: .7;
  margin-top: 224px;
}

a[href="javascript:sliders[0].goToPrev()"]:hover {
  opacity: 1;
}

a[href="javascript:sliders[0].goToNext()"] {
  display: inline-block;
  color: transparent;
  width: 45px !important;
  height: 51px !important;
  background: url('../img/arrow-right.png') no-repeat black;
  opacity: .7;
  margin-top: 224px;
}

a[href="javascript:sliders[0].goToNext()"]:hover {
  opacity: 1;
}

li[id="media-video"] {
  height: 500px;  
}

p[id="media-video-description"] {
  height: 500px;
  width: 200px;
  display: block; 
  float: left;
  margin-top: 20px;
  font-size: 75%;
  color: #e4ebe5;
}

li[id="media-text"] {
  display: block;
  background-color: black;
  width: 100%;
  float: left;
  max-height: 500px;
  font-size: 75%;
}

div[id="media-text-description"] {
  height: 500px;
  width: 300px;
  display: block; 
  float: left;
  margin-top: 20px;
  color: #e4ebe5;
  font-size: 75%;
}

div[id="media-text-content"] {
  height: 500px;
  width: 500px;
  display: block; 
  float: left;
  margin-top: 20px;
  color: #e4ebe5;
  font-size: 75%;
}

li[id="media-image"] {
  height: 500px;  
}

p[id="media-image-description"] {
  height: 500px;
  width: 300px;
  display: block; 
  float: left;
  margin-top: 20px;
  color: #e4ebe5;
  font-size: 75%;
}

img[id="media-image-content"] {
  height: 500px;
  width: 500px;
  display: block; 
  float: left;
  margin-top: 20px;
  max-height: 480px;
  font-size: 75%;
}

/* small screen media */
@media screen and (max-width: 1000px){
  
  .slider {
    width: 600px; 
  }

  .slider > ul > li {
    width: 600px; 
  }

  p[id="media-video-description"] {
    width: 100px;
  }


  div[id="media-text-description"] {
    width: 100px;
  }


  p[id="media-image-description"] {
    width: 100px;
  }

  p[id="contact"] {
    width: 300px;
  }

  input {
  width:300px;
  }

  textarea {
    width:300px;

  }

  input[type="submit"] {
    width:300px;
    float:left;
    position: relative;
    margin-left: -20px;
  }

}

/* small screen */
@media screen and (max-width: 730px){
  td[id="bio-image"] {
    width: 100%;
    display: block;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
  }

  td[id="bio-text"] {
    display: block;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  img[id="bio"] {
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .slider {
    width: 400px; 
  }

  .slider > ul > li {
    width: 400px; 
  }

  p[id="media-video-description"] {
    color: transparent;
    width:0px;
  }

  div[id="media-text-content"] {
    width: 350px;
  }

  div[id="media-text-description"] {
    color: transparent;
    width: 0px;
  }

  img[id="media-image-content"] {
    width: 350px;
  }

  p[id="media-image-description"] {
    color: transparent;
    width: 0px;
  }
}