{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
<header><a href="/" style="color: black;">EGM.</a></header>
{% endblock %}

{% block bar %}
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="center">
      <li><a href="/about">ABOUT</a></li>
      <li class="divider">|</li>
      <li><a href="/work">WORK</a></li>
      <li class="divider">|</li>
      <li class="active"><a href="/events">EVENTS</a></li>
      <li class="divider">|</li>
      <li><a href="/blog">BLOG</a></li>
      <li class="divider">|</li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </section>
</nav>
{% endblock %}


{% block content %}

<div class="large-8 columns large-offset-2 column">
  {% for event, up in events_and_upcoming %}
    {% if up %}
    <h2 id="event-title">{{ event.event_title }}</h2>
    <div id="date-header">{{ event.event_date }}</div>
    <div id="event-description">{{ event.event_description|linebreaks }}</div>
    {% endif %}
  {% endfor %}
  
  <h3>Past Events</h3>
  {% for event, up in events_and_upcoming %}
    {% if not up %}
    <h2 id="event-title">{{ event.event_title }}</h2>
    <div id="date-header">{{ event.event_date }}</div>
    <div id="event-description">{{ event.event_description|linebreaks }}</div>
    {% endif %}
  {% endfor %}

</div><!--/col-->

{% endblock %}