<!--- PROJECTS -->
<!--      
      <section class="bg-3" id="projects">
        <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Current Projects</h2></div>
      </section>
        
      <div class="continer bg-4">
        <div class="row">
           <div class="col-sm-4 col-xs-6">
            
              <div class="panel panel-default">
                <div><img src="{% static "img/SWEAT.jpg" %}" class="img-responsive"></div>
                <div class="panel-body">
                  <p class="lead">SWEAT Broadside Collaboration</p>                  
                  <p>
                    <div class="social" id="facebook"></div>
                  </p>
                </div>
              </div><!--/panel-->
            </div><!--/col-->
            
            <div class="col-sm-4 col-xs-6">
            
              <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="//placehold.it/450X250/ffcc33/444" class="img-responsive"></div>
                <div class="panel-body">
                  <p class="lead">Project 2</p>
    
                  <p>
                    <div class="social" id="googleplus"></div>
                    <div class="social" id="linkedin"></div>
                  </p>
                </div>
              </div><!--/panel--> 
            </div><!--/col-->
            
            <div class="col-sm-4 col-xs-6">
            
              <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="//placehold.it/450X250/f16251/444" class="img-responsive"></div>
                <div class="panel-body">
                  <p class="lead">Project 3</p>
                  <p>
                    <div class="social" id="skype" ></div>
                    <div class="social" id="twitter"></div>
                  </p>
                </div>
              </div><!--/panel--> 

            </div><!--/col--> 
        </div><!--/row-->
      </div><!--/container-->
